body {
    background-color: rgb(248, 248, 206);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: ridge;
    
}

.header {
    background-color: rgb(76, 76, 253);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 100%;
}

.day {
    color: white;
    font-size: 40px;
}

.form {
display: flex;
    border-radius: 10px;
    width: 630px;
    height: 30px;
    margin: 20px;
    
}
input{
    margin-right: 30px;
}

#task-container {
    width: 350px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    
    
}
.task{
    border-radius: 7px;
    background-color:rgb(248, 122, 122);
    
}
.task.completed {
    background-color: rgb(139, 241, 139);
  }
  
